@media (max-width:320px) {
    main #boedo {
        background-size: contain ;
        .presentacion {       
            ul {

                padding-top: 10px;

                li {                   
                    padding-top: 10px;            

                }
    }
}
}
}